
.spread {
    position: absolute;
    display: block;
    width: 100%;
    height: 100vh;

    background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);

    border-radius: 0 0 0 0;

    transform: rotate(45deg);

    z-index: -2;

    display: none;
}

.the-section {
    display: grid;
    place-items: center;

    margin-bottom: 2rem;
}

.the-section .main-section {
    display: grid;
    place-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;

    width: 70%;

}

.the-section .main-section .the-box1 {
    grid-column: 1/2;
}


.the-section .main-section .the-box2 {
    grid-column: 1/2;
}
.the-section .main-section .the-box3 {
    grid-column: 3/4;
    grid-row: 1;
}
.the-section .main-section .the-box4 {
    grid-column: 3/4;
}

.box1 {
    display: flex;
    gap: 1rem;
}

.box1 h2 {
    margin-bottom: 1rem;
}


.span-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;

    margin-top: 2rem;

    background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);
}

.span-img .fa {
    display: block;
    
    font-size: 1.5rem;

    color: #fff;
}



.aside {
    display: flex;
    flex-direction: column;
}

.aside .aside-m {
    display: flex;
    gap: 1rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    padding: 0.5rem;

    border-radius: 20px;
    width: 98%;

    box-shadow: 2px 2px 10px rgba(0, 0, 0, .3),
    -2px -2px 10px rgba(0, 0, 0, .3);
}

.aside .aside-m .aside-m-img {
    background: url(/images/samuele-errico-piccarini-JEBqFu2AOOA-unsplash.jpg);
    background-size: cover;
    display: block;
    width: 400px;
    height: 300px;

    border-radius: 20px 0 0 20px;

    transform: scale(0.95);
    transition: transform 500ms;
}

.aside .aside-m:hover .aside-m-img {
    transform: scale(1);
}

.aside .aside-m .aside-m-p {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer {
    display: grid;
    place-items: center;
    margin-top: 4rem;
    padding: 2rem;

    background-image: linear-gradient(to top, #193f86 0%, #415983 100%);

    color: rgb(241, 241, 241);
}

footer > div {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 80%;
}

footer a {
    text-decoration: none;
    color: #fff;
}

footer a:hover {
    color: #D2691E;
    text-decoration: underline;
}

footer .resolution p {
    margin-top: 1rem;
    width: 90%;

    line-height: 1.5;
}

footer .col-flex {
    display: flex;
    flex-direction: column;

    gap: 1rem;
    margin-top: 1rem;
}